In [ ]:
# loops

In [1]:
l = [4,5,6,7,8,3,3,4,5]

In [2]:
print(l)

[4, 5, 6, 7, 8, 3, 3, 4, 5]

In [4]:
for i in l:
    print(i)

4
5
6
7
8
3
3
4
5

In [6]:
for index,element in enumerate(l):
    print(index)
    #print(element)

0
1
2
3
4
5
6
7
8

In [7]:
for index,element in enumerate(l):
    #print(index)
    print(element)

4
5
6
7
8
3
3
4
5

In [8]:
for element in enumerate(l):
    #print(index)
    print(element)

(0, 4)
(1, 5)
(2, 6)
(3, 7)
(4, 8)
(5, 3)
(6, 3)
(7, 4)
(8, 5)

In [9]:
# adding 1 to all the elements to the list

In [10]:
for i in l:
    print(i+1)

5
6
7
8
9
4
4
5
6

In [11]:
for i in l:
    print(i**2)

16
25
36
49
64
9
9
16
25

In [12]:
s = "sumanth"

In [14]:
for i in s:
    print(i)

s
u
m
a
n
t
h

In [15]:
for sumanth in s:
    print(sumanth)

s
u
m
a
n
t
h

In [16]:
t = (1,2,3,4,5,5,6,7,8,9,0)
for i in t:
    print(i)

1
2
3
4
5
5
6
7
8
9
0

In [17]:
s = {1,2,3,4,5,6,7,7,7,7,7}
for i in s:
    print(i)

1
2
3
4
5
6
7

In [18]:
d = {"name":'sumanth','age':22,'class':'python'}

In [19]:
d.keys()

dict_keys(['name', 'age', 'class'])

In [20]:
d.values()

dict_values(['sumanth', 22, 'python'])

In [21]:
d.items()

dict_items([('name', 'sumanth'), ('age', 22), ('class', 'python')])

In [23]:
for i in d.keys():
    print(i)

name
age
class

In [22]:
for i in d.values():
    print(i)

sumanth
22
python

In [26]:
for i,j in d.items():
    print(i," : ",j)

name  :  sumanth
age  :  22
class  :  python

In [27]:
for i in d.items():
    print(i)

('name', 'sumanth')
('age', 22)
('class', 'python')

In [2]:
l = ['sumanth',1,2,3,4,5,6,7,1.0,400.1,True,'kms',False,4+5j]

In [3]:
print(l)

['sumanth', 1, 2, 3, 4, 5, 6, 7, 1.0, 400.1, True, 'kms', False, (4+5j)]

In [4]:
for i in l:
    if type(i)==str:
        print(i)

sumanth
kms

In [5]:
l1 = []
for i in l:
    if type(i) == str:
        l1.append(i)
print("the list is ",l1)

the list is  ['sumanth', 'kms']

In [6]:
l_str=[]
l_int = []
l_float = []
l_bool = []
l_complex = []
for i in l:
    if type(i) == str:
        l_str.append(i)
    elif type(i) == int:
        l_int.append(i)
    elif type(i) == float:
        l_float.append(i)
    elif type(i) == bool:
        l_bool.append(i)
    else:
        l_complex.append(i)
print(l_str,"str")
print(l_int,'int')
print(l_float,"float")
print(l_bool,'bool')
print(l_complex,'complex')

['sumanth', 'kms'] str
[1, 2, 3, 4, 5, 6, 7] int
[1.0, 400.1] float
[True, False] bool
[(4+5j)] complex

In [7]:
import string

In [9]:
for i in string.ascii_letters:
    print(i)

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z
A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [10]:
range(5) # produce data

range(0, 5)

In [11]:
# exclude 5

In [12]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [15]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [16]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [18]:
a = 0
b = 1
limit = 10
for i in range(limit):
    print(a)
    a,b=b,a+b

0
1
1
2
3
5
8
13
21
34

In [19]:
i = 0
while i<=10:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [1]:
# right angle triangle pattern

In [4]:
n = 5
for i in range(1,n+1):
    print("*"*i)

*
**
***
****
*****

In [5]:
"sumanth"*2

'sumanthsumanth'

In [6]:
n = 10
for i in range(1,n+1):
    print("sumanth"*i)

sumanth
sumanthsumanth
sumanthsumanthsumanth
sumanthsumanthsumanthsumanth
sumanthsumanthsumanthsumanthsumanth
sumanthsumanthsumanthsumanthsumanthsumanth
sumanthsumanthsumanthsumanthsumanthsumanthsumanth
sumanthsumanthsumanthsumanthsumanthsumanthsumanthsumanth
sumanthsumanthsumanthsumanthsumanthsumanthsumanthsumanthsumanth
sumanthsumanthsumanthsumanthsumanthsumanthsumanthsumanthsumanthsumanth

In [7]:
# pyramid pattern

In [12]:
row = 5
for i in range(1,row+1):
    print(" "*(row-i)+"*"*(2*i-1))
    #print("*"*i)

    *
   ***
  *****
 *******
*********

In [14]:
row = 5
for i in range(1,row+1):
    print(" "*(row-i)+"*"*(2*i-1))

for i in range(row-1,0,-1):
    print(" "*(row-i)+"*"*(2*i-1))
    #print("*"*i)

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *