In [2]:
print("This is my name")

This is my name

In [5]:
print(type(1))
print(len('23455'))

<class 'int'>
5

In [4]:
# reusability

In [6]:
def test():
    pass

In [7]:
def test1():
    print("This is my first function")

In [8]:
test1()

This is my first function

In [9]:
def test2(a,b):
    print(a,b)

In [10]:
test2(1,2)

1 2

In [11]:
test2([1,2,3,4,5],"sumanth")

[1, 2, 3, 4, 5] sumanth

In [12]:
def test3(a,b,c,d,e):
    print(a,b,c,d,e)

In [14]:
test3(1,2)

TypeError: test3() missing 3 required positional arguments: 'c', 'd', and 'e'

In [15]:
test3(1,2,3,4,5)

1 2 3 4 5

In [16]:
def test5(a):
    print(a)

In [17]:
test5(5)+5

5

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [18]:
type(print("100"))

100

NoneType

In [19]:
type(test5(5))

5

NoneType

In [20]:
def test6(a,b):
    return a+b

In [22]:
type(test6(1,2))

int

In [24]:
test6(4,6)

10

In [25]:
test6('sumanth',"km")

'sumanthkm'

In [28]:
def test7(*args):
    print(type(args))
    return args

In [29]:
test7(1,2,3,4,5,6)

<class 'tuple'>

(1, 2, 3, 4, 5, 6)

In [30]:
def test8(*sumanth):
    print(type(sumanth))
    return sumanth

In [31]:
test8(1,2,3,4,5,6)

<class 'tuple'>

(1, 2, 3, 4, 5, 6)

In [32]:
# anyname with *

In [33]:
def test9(*args):
    return sum(args)

In [34]:
test9(1,2,3,4,5,6,6,7,8,9,0)

51

In [35]:
# taking key value pair in similar way

In [36]:
def test10(**kwargs):
    print(type(kwargs))
    print(kwargs)

In [37]:
test10(name="sumanth",company="xyz")

{'name': 'sumanth', 'company': 'xyz'}

In [38]:
## returning multiple things

In [39]:
def test11():
    return 'sumanth',[1,2,3,4,5],(1,2,3,4,5),4+5j

In [41]:
a,b,c,d=test11()

In [42]:
print(a)

sumanth

In [43]:
print(b)

[1, 2, 3, 4, 5]

In [44]:
print(c)

(1, 2, 3, 4, 5)

In [45]:
print(d)

(4+5j)

In [46]:
# by default it will be tuple if returning multiple data

In [47]:
## docstring in function

In [49]:
def test12()->None:
    """
    This is test12 function created by test12
    """
    print("Test12 function")

In [50]:
test12()

Test12 function

In [51]:
def test13(a,b):
    return a+b

In [52]:
test13(1,2)

3

In [53]:
# lambda function

In [54]:
x = lambda a,b : a+b

In [55]:
x(1,2)

3

In [56]:
# single line function , lambda function , annonymous function

In [57]:
l = [1,2,3,4,5,6,7,8,9,0]

In [58]:
l1 = []
for i in l:
    l1.append(i**2)

In [59]:
l1

[1, 4, 9, 16, 25, 36, 49, 64, 81, 0]

In [60]:
list(map(lambda x : x**2,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 0]

In [61]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [62]:
def sq(x):
    return x**2

In [63]:
list(map(sq,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 0]

In [65]:
for i in l:
    print(sq(i))

1
4
9
16
25
36
49
64
81
0

In [66]:
l = [0,1,2,3,4,5,6,7,8,9,10]

In [67]:
list_odd = []
for i in l:
    if i%2!=0:
        list_odd.append(i)

In [68]:
list_odd

[1, 3, 5, 7, 9]

In [73]:
list(filter(lambda x : x%2!=0,l)) # the functions in filters have to return true or false

[1, 3, 5, 7, 9]

In [74]:
tuple(filter(lambda x : x%2!=0,l))

(1, 3, 5, 7, 9)

In [75]:
# reduce

In [76]:
from functools import reduce

In [77]:
l = [1,2,3,4,5,6,7,8,9,0,]

In [78]:
sum(l)

45

In [79]:
reduce(lambda x,y:x+y,l)

45

In [80]:
# recursion

In [81]:
def fact(n):
    if n == 0 or n==1:
        return 1
    return n*fact(n-1)

In [82]:
fact(5)

120

In [85]:
s = "sumanth"

In [86]:
s[::-1]

'htnamus'

In [87]:
def string_reverse(s):
    if len(s)==0:
        return ''
    return s[-1]+string_reverse(s[:-1])

In [88]:
string_reverse("sumanth")

'htnamus'

In [89]:
string_reverse("")

''