In [2]:
1+1

2

In [3]:
a = "sumanth"

In [4]:
print(a)

sumanth

In [5]:
print(type(a))

<class 'str'>

In [6]:
b = 5

In [7]:
print(type(b))
print(b)

<class 'int'>
5

In [8]:
c = 45.67

In [9]:
print(c)

45.67

In [10]:
print(type(c))

<class 'float'>

In [11]:
d = "sumanth"

In [15]:
print(d)

sumanth

In [14]:
print(type(d))

<class 'str'>

In [16]:
e = 'sumanth'

In [17]:
print(e)

sumanth

In [18]:
print(type(e))

<class 'str'>

In [19]:
f = """hi my name is sumanth """

In [20]:
type(f)

str

In [21]:
print(f)

hi my name is sumanth

In [22]:
g = '''hi my name is sumanth'''

In [23]:
type(g)

str

In [24]:
print(g)

hi my name is sumanth

In [25]:
h = True

In [26]:
print(h)

True

In [27]:
print(type(h))

<class 'bool'>

In [28]:
i = False

In [29]:
type(i)

bool

In [30]:
print(type(i))

<class 'bool'>

In [31]:
True * True

1

In [32]:
True * False

0

In [33]:
True/False

ZeroDivisionError: division by zero

In [34]:
m = 4+8j

In [35]:
type(m)

complex

In [36]:
print(m)

(4+8j)

In [37]:
## iota i**2 = -1

In [38]:
m.real

4.0

In [39]:
m.imag

8.0

In [40]:
n = []

In [41]:
type(n)

list

In [42]:
print(n)

[]

In [43]:
o = [1,2,4,5,6,7,8,9,0]

In [44]:
type(o)

list

In [45]:
print(o)

[1, 2, 4, 5, 6, 7, 8, 9, 0]

In [46]:
p = [1,2,3,4,5,6,"sumath",4.5,4+10j,"k m "]

In [47]:
type(p)

list

In [48]:
print(p)

[1, 2, 3, 4, 5, 6, 'sumath', 4.5, (4+10j), 'k m ']

In [49]:
n = ()

In [50]:
type(n)

tuple

In [51]:
q = ("sumanth")

In [52]:
type(q)

str

In [53]:
q = ("sumanth",)

In [54]:
q

('sumanth',)

In [55]:
type(q)

tuple

In [56]:
b1 = (345,59,59 , "sumanth",'kms',45.94)

In [57]:
type(b1)

tuple

In [58]:
print(b1)

(345, 59, 59, 'sumanth', 'kms', 45.94)

In [59]:
d = {}

In [60]:
type(d)

dict

In [61]:
d1 = {4,1,2,3,4}

In [62]:
type(d1)

set

In [63]:
print(d1)

{1, 2, 3, 4}

In [69]:
d3 = {1,2,5,4,6,4,6,"sumanth","kms",5+8j,False}

In [70]:
d3

{(5+8j), 1, 2, 4, 5, 6, False, 'kms', 'sumanth'}

In [71]:
type(d3)

set

In [72]:
# not ordered the sets are

In [73]:
# unordered collection

In [74]:
d4 = {1,2,5,4,6,4,6,"sumanth","SUMANTH","kms",5+8j,False}

In [75]:
d4

{(5+8j), 1, 2, 4, 5, 6, False, 'SUMANTH', 'kms', 'sumanth'}