In [2]:
s={}

In [3]:
type(s)

dict

In [4]:
s1 = {1,2,3,5}

In [5]:
type(s1)

set

In [14]:
s2 = {1,2,3,4,"sumanth",45.67,5+6j,True,False}

In [15]:
s2

{(5+6j), 1, 2, 3, 4, 45.67, False, 'sumanth'}

In [16]:
# 1 and True are same so duplicate is discarded

In [17]:
a = {1,True}

In [18]:
a

{1}

In [19]:
b = {0,False}

In [20]:
b

{0}

In [29]:
s1[1]

TypeError: 'set' object is not subscriptable

In [22]:
# indexing is not possible ie unordered

In [23]:
s3={1,2,2,2,2,21,1,1,1,1,1,1}

In [24]:
s3

{1, 2, 21}

In [25]:
# it keeps only unique elements

In [26]:
s3[0:2]

TypeError: 'set' object is not subscriptable

In [30]:
# unordered means index are not defined

In [31]:
# how to do slicing for set

In [32]:
# convert it into list or tuple and then do the indexing

In [34]:
s2

{(5+6j), 1, 2, 3, 4, 45.67, False, 'sumanth'}

In [35]:
l1 = list(s2)

In [36]:
l1

[False, 1, 2, 3, 4, 'sumanth', 45.67, (5+6j)]

In [37]:
l1[0]

False

In [38]:
l1[2]

2

In [39]:
l1[3]

3

In [40]:
l4 = [4,5,6,7,8,9,9,]

In [41]:
s3 = set(l4)

In [42]:
s3

{4, 5, 6, 7, 8, 9}

In [43]:
t1 = tuple(s3)

In [44]:
t1

(4, 5, 6, 7, 8, 9)

In [45]:
s5 = {'sumanth',"Sumanth"}

In [46]:
s5

{'Sumanth', 'sumanth'}

In [47]:
# set wont be sorted

In [48]:
# ordered means the way i insert the data it keeps it

In [49]:
# dictionary , key , value pair

In [50]:
d  = {'name':'sumanth','class':'python eng 8.45 AM IST'}

In [51]:
d

{'name': 'sumanth', 'class': 'python eng 8.45 AM IST'}

In [53]:
d['name']

'sumanth'

In [54]:
d['class']

'python eng 8.45 AM IST'

In [55]:
d1={0:[1,2,3,4,5,6],'xyz':(12,3,4,6,7,5),True:{1,2,3,5,7,8},"company_name":'euron','class':['python hindi and english','gen ai hindi and eng','mlops english']}

In [56]:
d1

{0: [1, 2, 3, 4, 5, 6],
 'xyz': (12, 3, 4, 6, 7, 5),
 True: {1, 2, 3, 5, 7, 8},
 'company_name': 'euron',
 'class': ['python hindi and english',
  'gen ai hindi and eng',
  'mlops english']}

In [ ]:
d1={0:[1,2,3,4,5,6],'':(12,3,4,6,7,5),True:{1,2,3,5,7,8},"company_name":'euron','class':['python hindi and english','gen ai hindi and eng','mlops english'],"xyz":1}

In [59]:
d1

{0: [1, 2, 3, 4, 5, 6],
 'xyz': 1,
 True: {1, 2, 3, 5, 7, 8},
 'company_name': 'euron',
 'class': ['python hindi and english',
  'gen ai hindi and eng',
  'mlops english']}

In [60]:
# keys should be unique if not unique it will make it unique

In [65]:
d2 = {1:'a',1:'b',1:'c,'}

In [66]:
d2

{1: 'c,'}

In [67]:
# it wont give any error if u type 2 keys with the same keys

In [68]:
# note that it will always hold the latest duplicate key

In [69]:
d1['xyz']='sumanth'

In [70]:
d1

{0: [1, 2, 3, 4, 5, 6],
 'xyz': 'sumanth',
 True: {1, 2, 3, 5, 7, 8},
 'company_name': 'euron',
 'class': ['python hindi and english',
  'gen ai hindi and eng',
  'mlops english']}

In [71]:
s = "euron"

In [72]:
s.capitalize()

'Euron'

In [73]:
s.casefold()

'euron'

In [76]:
s.center(50)

'                      euron                       '

In [77]:
s.center(50,'#')

'######################euron#######################'

In [79]:
s.count('e')

1

In [80]:
s.find('n')

4

In [81]:
# return the first occurence of the data

In [82]:
s.find('z')

-1

In [83]:
s.index("z")

ValueError: substring not found

In [84]:
s.index("e")

0

In [85]:
# index gives error if not present find gives -1

In [86]:
s.capitalize()

'Euron'

In [87]:
a = 'sumanth is a coder'

In [88]:
a.capitalize()

'Sumanth is a coder'

In [89]:
a.title()

'Sumanth Is A Coder'

In [90]:
a.isalnum()

False

In [91]:
s.isalnum()

True

In [92]:
# list operations

In [93]:
l = [3,4,5,6,6,'python','data science']

In [94]:
l.append(1)

In [95]:
l

[3, 4, 5, 6, 6, 'python', 'data science', 1]

In [96]:
l.append(100,200)

TypeError: list.append() takes exactly one argument (2 given)

In [97]:
l.append([100,200,300])

In [98]:
l

[3, 4, 5, 6, 6, 'python', 'data science', 1, [100, 200, 300]]

In [99]:
l.clear()

In [101]:
l = [3,4,5,6,6,'python','data science']

In [102]:
l1=l

In [103]:
l

[3, 4, 5, 6, 6, 'python', 'data science']

In [104]:
l1

[3, 4, 5, 6, 6, 'python', 'data science']

In [105]:
l2 = l.copy()

In [106]:
l2

[3, 4, 5, 6, 6, 'python', 'data science']

In [107]:
l

[3, 4, 5, 6, 6, 'python', 'data science']

In [108]:
l1

[3, 4, 5, 6, 6, 'python', 'data science']

In [109]:
l2

[3, 4, 5, 6, 6, 'python', 'data science']

In [110]:
l1[0] = 'euron'

In [111]:
l1

['euron', 4, 5, 6, 6, 'python', 'data science']

In [112]:
l

['euron', 4, 5, 6, 6, 'python', 'data science']

In [113]:
l2

[3, 4, 5, 6, 6, 'python', 'data science']

In [114]:
l2[3]='xyz'

In [115]:
l2

[3, 4, 5, 'xyz', 6, 'python', 'data science']

In [116]:
l

['euron', 4, 5, 6, 6, 'python', 'data science']

In [117]:
l1

['euron', 4, 5, 6, 6, 'python', 'data science']

In [118]:
l1 = [[1,2,3],[2,3,4,5]]

In [119]:
import copy

In [120]:
l = l1.copy()

In [121]:
l1[0][1]=100

In [122]:
l1

[[1, 100, 3], [2, 3, 4, 5]]

In [123]:
l

[[1, 100, 3], [2, 3, 4, 5]]

In [124]:
del l

In [125]:
del l1

In [126]:
l = [[1,2,3,4],[2,3,4,5]]

In [127]:
l1 = copy.deepcopy(l)

In [128]:
l1[0][2]=1000

In [129]:
l1

[[1, 2, 1000, 4], [2, 3, 4, 5]]

In [130]:
l

[[1, 2, 3, 4], [2, 3, 4, 5]]

In [135]:
l.count(5)

0

In [136]:
l[1].count(5)

1

In [137]:
# count works only on 1 d list

In [138]:
del l

In [139]:
l = [1,2,3,4,5]

In [141]:
l.extend([6])

In [142]:
l

[1, 2, 3, 4, 5, 6]

In [143]:
l.extend([7,8])

In [144]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [145]:
l.extend('sumanth')

In [146]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 's', 'u', 'm', 'a', 'n', 't', 'h']

In [147]:
l.extend(['sumanth'])

In [148]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 's', 'u', 'm', 'a', 'n', 't', 'h', 'sumanth']

In [149]:
# only we have to give iterable or iterator object

In [150]:
l.index(1)

0

In [151]:
l.pop()

'sumanth'

In [152]:
l.pop()

'h'

In [153]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 's', 'u', 'm', 'a', 'n', 't']

In [154]:
l.pop()

't'

In [155]:
l.pop()

'n'

In [156]:
l.pop()

'a'

In [157]:
l.pop()

'm'

In [158]:
l.pop()

'u'

In [159]:
l.pop()

's'

In [160]:
l.pop()

8

In [161]:
l.pop()

7

In [162]:
l

[1, 2, 3, 4, 5, 6]

In [163]:
l.remove(4)

In [164]:
l

[1, 2, 3, 5, 6]

In [165]:
# pop takes indexes and remove takes exact values

In [166]:
l.insert(2,100)

In [167]:
l

[1, 2, 100, 3, 5, 6]

In [168]:
# insert and shift the other elements

In [169]:
l.reverse()

In [170]:
l

[6, 5, 3, 100, 2, 1]

In [171]:
l[::-1]

[1, 2, 100, 3, 5, 6]

In [172]:
l.sort()

In [173]:
l

[1, 2, 3, 5, 6, 100]

In [174]:
# only if there is comparing data is present

In [175]:
l.append("sumanth")

In [176]:
l.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [177]:
t = (1,2,3,4,5,6,7,8,9,0)

In [178]:
t.index(1)

0

In [179]:
t.count(1)

1

In [1]:
#assignment

In [2]:
#Write a Python program to check if a given string starts with a specific substring using an inbuilt method.

In [3]:
substring = "sum"
string = "sumanth"

In [4]:
string.startswith(substring)

True

In [6]:
substring="app"

In [7]:
string = "sumanth"

In [8]:
string.startswith(substring)

False

In [9]:
#Find the index of the first occurrence of the substring "Python" in the string "I am learning Python programming".

In [10]:
var = "Python"

In [11]:
string = "I am learning Python programming"

In [12]:
string.index(var)

14

In [13]:
#Convert the string "hello world" to uppercase using an inbuilt method.

In [14]:
string = "hello world"

In [15]:
string.upper()

'HELLO WORLD'

In [16]:
#Replace all occurrences of "cat" with "dog" in the string "The cat sat on the cat mat".

In [17]:
string = "The cat sat on the cat mat"

In [19]:
var = "dog"
change_var = "cat"

In [20]:
string.replace(change_var,var)

'The dog sat on the dog mat'

In [21]:
#Write a Python program to count the number of times the letter 'a' appears in the string "banana".

In [22]:
string = "banana"

In [23]:
string.count("a")

3

In [24]:
#Extract the substring "World" from the string "Hello, World!" using slicing.

In [25]:
string = "Hello, World!"

In [27]:
string[7:12]

'World'

In [28]:
#Reverse the string "Python" using slicing.

In [29]:
string = "Python"

In [31]:
string[::-1]

'nohtyP'

In [32]:
#Write a program to remove leading and trailing whitespaces from the string " Hello World ".

In [33]:
string = " Hello World "

In [34]:
string.strip()

'Hello World'

In [35]:
#Check if the string "abc123" is alphanumeric using an inbuilt method.

In [36]:
string = "abc123"

In [37]:
string.isalnum()

True

In [38]:
#Split the string "apple,banana,cherry" into a list of words using an inbuilt method.

In [39]:
string = "apple,banana,cherry"

In [40]:
string.split()

['apple,banana,cherry']

In [41]:
# lists excercise

In [42]:
#Write a Python program to append the number 5 to the list [1, 2, 3, 4] using an inbuilt method.

In [43]:
l = [1, 2, 3, 4]

In [44]:
l.append(5)

In [45]:
l

[1, 2, 3, 4, 5]

In [46]:
#Remove the element "banana" from the list ["apple", "banana", "cherry"].

In [47]:
l = ["apple", "banana", "cherry"]

In [48]:
l

['apple', 'banana', 'cherry']

In [49]:
l.remove("banana")

In [50]:
l

['apple', 'cherry']

In [51]:
#Insert the element "orange" at index 1 in the list ["apple", "cherry"].

In [52]:
l

['apple', 'cherry']

In [53]:
l.insert(1,"orange")

In [54]:
l

['apple', 'orange', 'cherry']

In [55]:
#Find the index of the number 3 in the list [1, 2, 3, 4, 5].

In [56]:
l = [1,2,3,4,5]

In [57]:
l.index(3)

2

In [58]:
#Reverse the list [1, 2, 3, 4] using an inbuilt method.

In [59]:
l = [1,2,3,4]

In [60]:
l.reverse()

In [61]:
l

[4, 3, 2, 1]

In [62]:
#Write a Python program to slice and print the first three elements of the list [10, 20, 30, 40, 50].

In [63]:
l = [10, 20, 30, 40, 50]

In [65]:
l[0:3]

[10, 20, 30]

In [66]:
#Sort the list [5, 2, 9, 1, 5] in ascending order using an inbuilt method.

In [67]:
l = [5, 2, 9, 1, 5]

In [68]:
l.sort()

In [69]:
l

[1, 2, 5, 5, 9]

In [70]:
#Write a program to count the number of times the number 5 appears in the list [5, 1, 5, 2, 5, 3].

In [71]:
l = [5, 1, 5, 2, 5, 3]

In [72]:
l.count(5)

3

In [73]:
#Concatenate the lists [1, 2] and [3, 4] and print the resulting list.

In [74]:
l1 = [1, 2]
l2 = [3,4]

In [75]:
l = l1+l2

In [76]:
l

[1, 2, 3, 4]

In [77]:
#Check if the element "kiwi" exists in the list ["apple", "banana", "cherry"] using an inbuilt method.

In [78]:
l =  ["apple", "banana", "cherry"]

In [79]:
"kiwi" in l

False

In [80]:
# dictionary

In [81]:
#Write a Python program to add a new key-value pair "age": 25 to the dictionary {"name": "John"}.

In [82]:
d = {"name": "John"}

In [83]:
d['age']=25

In [84]:
print(d)

{'name': 'John', 'age': 25}

In [85]:
#Retrieve the value associated with the key "name" from the dictionary {"name": "Alice", "age": 30}.

In [86]:
d = {"name": "Alice", "age": 30}

In [87]:
d['name']

'Alice'

In [88]:
#Remove the key "age" from the dictionary {"name": "Bob", "age": 45} using an inbuilt method.

In [89]:
d = {"name": "Bob", "age": 45}

In [90]:
d.pop('age')

45

In [91]:
d

{'name': 'Bob'}

In [92]:
#Write a program to list all the keys in the dictionary {"name": "Emma", "age": 28, "city": "New York"}.

In [93]:
d = {"name": "Emma", "age": 28, "city": "New York"}

In [97]:
l = d.keys()

['name', 'age', 'city']

In [102]:
#Use an inbuilt method to check if the key "city" exists in the dictionary {"name": "Mia", "age": 35}.

In [103]:
d = {"name": "Mia", "age": 35}

In [104]:
'city' in d

False

In [105]:
#Write a Python program to get all the values in the dictionary {"a": 10, "b": 20, "c": 30}.

In [106]:
d = {"a": 10, "b": 20, "c": 30}

In [108]:
list(d.values())

[10, 20, 30]

In [109]:
#Update the dictionary {"name": "Liam"} with another dictionary {"age": 40} using an inbuilt method.

In [110]:
d = {"age": 40}

In [111]:
d.update({"name": "Liam"})

In [112]:
d1

In [113]:
print(d1)

None

In [114]:
d

{'age': 40, 'name': 'Liam'}

In [115]:
#Count the total number of key-value pairs in the dictionary {"x": 1, "y": 2, "z": 3}.

In [116]:
d = {"x": 1, "y": 2, "z": 3}

In [117]:
len(d)

3

In [118]:
#Clear all items in the dictionary {"fruit": "apple", "color": "red"} using an inbuilt method.

In [119]:
d = {"fruit": "apple", "color": "red"}

In [120]:
d.clear()

In [151]:
d = {}

In [122]:
#Write a Python program to create a dictionary from two lists ["name", "age"] and ["John", 30].

In [148]:
l1 = ["name", "age"]

In [149]:
l2= ["John", 30]

In [152]:
d.fromkeys(l1,l2)

{'name': ['John', 30], 'age': ['John', 30]}

In [153]:
del d

In [154]:
d.clear()

NameError: name 'd' is not defined

In [155]:
l1

['name', 'age']

In [156]:
l2

['John', 30]

In [157]:
l3 = zip(l1,l2)

In [143]:
list(l3)

[('name', 'John'), ('age', 30)]

In [144]:
type(l3)

zip

In [158]:
dict(l3)

{'name': 'John', 'age': 30}

In [146]:
l3

In [160]:
list(l3)

[]

In [161]:
# zip value in the memory holds only once if u try to hit or refer the same variable then it will be removed you can only tap it once

In [162]:
# tuples

In [163]:
# to store the zip values permanently

In [164]:
l1 = [1,2,3,4]

In [165]:
l2 = ['a','b','c','d']

In [166]:
l3 = zip(l1,l2)

In [167]:
l4 = list(l3)

In [168]:
l4

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [169]:
l3

In [170]:
list(l3)

[]

In [171]:
## tuples

In [172]:
#Write a program to access the second element of the tuple (10, 20, 30, 40).

In [173]:
t = (10, 20, 30, 40)

In [175]:
t[1]

20

In [176]:
#Create a tuple with a single element 5 and verify its type.

In [177]:
t = (5)

In [178]:
type(5)

int

In [179]:
#Use slicing to print the last three elements of the tuple (1, 2, 3, 4, 5, 6).

In [180]:
t = (1, 2, 3, 4, 5, 6)

In [181]:
t[3:]

(4, 5, 6)

In [182]:
#Concatenate the tuples (1, 2) and (3, 4) and print the result.

In [183]:
t1 = (1, 2)

In [184]:
t2 = (3,4)

In [186]:
t3 = t1+t2

In [187]:
t3

(1, 2, 3, 4)

In [188]:
#Find the index of the element 50 in the tuple (10, 20, 30, 50, 40).

In [189]:
t = (10, 20, 30, 50, 40)

In [190]:
t.index(50)

3

In [191]:
#Count the number of times the element 10 appears in the tuple (10, 20, 10, 40, 10).

In [192]:
t = (10, 20, 10, 40, 10)

In [193]:
t.count(10)

3

In [194]:
#Write a Python program to check if the element 25 exists in the tuple (15, 25, 35).

In [195]:
t = (15,25,35)

In [196]:
25 in t

True

In [197]:
# Convert the tuple (1, 2, 3) into a list using an inbuilt method.

In [198]:
t = (1,2,3)

In [199]:
list(t)

[1, 2, 3]

In [200]:
#Write a Python program to sort the tuple (5, 1, 3, 2, 4) and print it as a sorted list.

In [208]:
t = (5, 1, 3, 2, 4)

In [209]:
l = (list(t))

In [210]:
l

[5, 1, 3, 2, 4]

In [211]:
l.sort()

In [212]:
l

[1, 2, 3, 4, 5]

In [213]:
#Create a tuple by repeating the elements of (1, 2) three times using the multiplication operator.

In [214]:
t = (1,2)

In [215]:
t*10

(1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2)